<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        hr {
            border: 0;
            height: 1px;
            background: #ddd;
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .social-login-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .social-button {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          text-align: center;
          margin: 0 5px;
          transition: all 0.2s ease-in-out;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .social-button:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          transform: scale(1.1);
        }

        .naver {
          background-color: #00C73C;
        }

        .google {
          background-color: #4285F4;
        }

        .facebook {
          background-color: #3B5998;
        }

        .fab {
          font-size: 20px;
          color: #fff;
        }

    </style>
</head>
<body>
    <form action="/login" method="post" name="loginForm">
        <h2>Login</h2>
        <hr>
        <input id="username" type="text" name="username" placeholder="ID">
        <input id="password" type="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Login">
        <!-- 소셜 로그인 버튼 -->
        <div class="social-login-buttons">
          <a href="/oauth2/authorization/naver" class="social-button naver">
            <i class="fab fa-naver"></i>
          </a>
          <a href="/oauth2/authorization/google" class="social-button google">
            <i class="fab fa-google"></i>
          </a>
          <a href="/oauth2/authorization/facebook" class="social-button facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>

    </form>
</body>
</html>
